@import '~bootstrap/scss/bootstrap';

$highlight: #3f0d12;
$base-color: #f7f4f3;
$menu: #7c7c7c;
$text: #000;

body {
  background-color: $base-color;
  color: $text;
  font-family: serif;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
}

a {
  color: $text;
  text-decoration: none;
}

main {
  left: 15em;
  margin: 2vh 0;
  padding-left: 10%;
  position: absolute;
  width: 100%;
}

.hidden {
  display: none;
}

.figures {
  max-height: 85vh;
  width: 85%;
}

.sidebar {
  background-color: $menu;
  border-right: 2em solid $highlight;
  color: $highlight;
  height: 100%;
  padding-top: 35vh;
  position: fixed;
  text-align: center;
  width: 26%;

  a {
    color: $highlight;
    font-weight: 600;
  }

  li {
    padding: 1em;
    text-decoration: none;
  }
}

@media only screen and (min-width: 600px) {
  .sidebar {
    padding-top: 5vh;
  }

  main {
    width: 80%;
  }

  h1 {
    font-size: 2.25em;
  }
}
